################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GUI/AzzyAIConfig/.vs/AzzyAIConfig/FileContentIndex/a3c0946a-26a5-42ce-b006-60218014e717.vsidx
