################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GUI/AzzyAIConfig/.vs/AzzyAIConfig/FileContentIndex/a3c0946a-26a5-42ce-b006-60218014e717.vsidx
/GUI/AzzyAIConfig/.vs/AzzyAIConfig/FileContentIndex/3f2cfb80-b203-443e-a856-9a10cebb5ef9.vsidx
/GUI/AzzyAIConfig/.vs/AzzyAIConfig/FileContentIndex/a93e79cd-cc8e-462f-9c8c-fb7f60f3a10d.vsidx
